apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nginx.fullname" . }}-config
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
data:
  # These keys will become environment variables
  APP_MODE: {{ .Values.app.mode | quote }}
  APP_GREETING: {{ .Values.app.greeting | quote }}
